
*{ margin: 0;
    padding: 0;
    
}


.conteiner {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.box1 {
    background-image: url( lomsa.jpg );
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
   
}


.shadow {
    background-color: rgba(0, 0, 0, 0.679);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.meniu {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}



.language {
  
    margin: 80px;
  
}


.list {
    
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

img.logo11 {
   
    border-style: none;
    width: 125px;
    height: 25px;
    cursor: pointer;
    margin: 80px;
}


a {
    color: white;
    text-decoration: none;
    
}

a:hover{
    font-size: 15px;
    color: red;
}


.nav {
    display: flex;
   justify-content: center;
    
    width: 80%;
    height: 100%;
    padding-left:  50px;
   
}


.nav2{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    width: 40%;
    
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    color: white;
    gap: 30px; 
  margin:90px;

}
    
    h1 {
        font-size: 3em;
        font-family: Helvetica;
       

    }

    .p1 {
        width: 80%;
    font-size: 1rem;
    letter-spacing: .04rem;
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: Helvetica;
    color: white;
    

    }


button{
    background-color: #309382;
    border-radius: 30px;
    border: none;
    width: 196px;
    height: 56px;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-feature-settings: "case" on;
    font-weight: 500;
    font-size: .75rem;
   
    
}


.box2 {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
   
}


p 
{

    width: 80%;
    font-family: Helvetica;
    font-size: .95rem;
    line-height: 1.4rem;
    color: #313a47;
    letter-spacing: .04rem;
    
}


h3 {
    color: #309382;
    font-size: 1.7rem;
    margin-bottom: 0px;
    font-family: Helvetica;
}


li {
   
    list-style: none;
    
}



.newul {
    display: flex;
    flex-direction: column;
    align-items: center;
margin-left: 20px;
    background-color: rgba(43,158,144,.08);
}

.b1 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    height: 294px;
    gap:10px;
   
}

ul{
    display: flex;
    justify-content: space-between;
}



.box3 {

    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: flex-start;
    justify-content: center;
    margin-top: 80px;
    background-color: #eff0f1;

}

.logg {
    width:200px;
}


.poto {
    
    width: 200px;
    margin-top: 70px;

}


.text3 {
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 width: 80%;

}


.hh1 {
    font-size: 2.4rem;
    margin-bottom: 60px;
    font-weight: 600;
    text-transform: uppercase;
    font-feature-settings: "case" on;
    color: #313a47;
}


.ooo{
    margin-left: 60px;
}


h4 {
    align-self: flex-start;
    color: #309382;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
   
}

.pp1 {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 24px;
    letter-spacing: .06rem;
    font-weight: 400;
    width: 100%;
}

.box4{

    margin:30px;
}

.paint1 {
    
    display: flex;
    width: 70px;
    height: 70px;
      
}


.ull{
    display: flex;

}

.ttt{

    text-align: center;
    
}

.ttt1 {
    border-radius: 50%;
    text-align: center;
}


.box5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: white;


}


.logo {display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width:210px;
    height: 370px;
    margin: 70px;
}


.text5 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 92%;
}



.p5 {
   
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 24px;
    letter-spacing: .06rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
   
    
}
.p51 {
    width: 60%;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 24px;
    margin-left: 70px;
    font-weight: 400;
    text-align: center;
}


.paint5 {

   width: 80%;
   
}

.ul5 {
    
}


.ull1{
    
    display: flex;
    flex-direction: column;
    
}


.ull11 {
    margin-left: 90px;
}

.ull12 {
    margin-right: 50px;
}


.newli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin:10px;
    border-radius: 100%;
}



.tp5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap :30px;
        
    
    }

.li5 {
        height: 50px;
        width: 50px;
          font-family: Helvetica;
          font-weight: 400;
          font-size: 30px;
       
    }



.box6{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: #eff0f1;

    }
 .p6 {
        line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 24px;
    letter-spacing: .06rem;
    font-weight: 400;
    width: 100%;
    }


.t6 {
        line-height: 1.5rem;
    font-size: .86rem;
    font-family: sans-serif;
    text-align: center;
    }
       

.li6 {
        height: 50px;
        width: 50px;
          font-family: Helvetica;
          font-weight: 400;
          font-size: 30px;
          list-style: none;
    }


    
.logo6 {
        
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 220px;
    width: 200px;
    margin: 70px;
    }



 .box7 {
       
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 40px;
        flex-direction: column;
    }



.con {

    
    display: flex;
margin: 50px;

display: flex;
justify-content: center;
align-items: center;
}



.con1 {

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.h4class {

    display: flex;
    width: 100%;
    justify-content: center;


}


h4 {
       
    color: #313a47;
    font-size: 2.4rem;
     line-height: 3.625rem;
     font-weight: 600;
     text-transform: uppercase;
    

    }

h5 {

    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1.6rem;
    color: #313a47;
    margin-top: 24px;
    font-weight: 500;
    display: flex;
align-items: center;
justify-content: center;
}


.pcon {
    font-size: 1rem;
    color: rgba(49,58,71,.64);
    text-align: center;
    line-height: 1.6875rem;
   margin-bottom: 80px;
}


.box8 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 40px;
    flex-direction: column;
    background-color: #313a47;
    width: 100%;

}

.h5head {
    color: white;
}

.headimg {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.headul {
    display: flex;
    flex-direction: column;
}

.headtext {

   
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
}

.mainhead {
  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 40px;
    width: 80%;
    color: white;
}

.headp {
   display:flex;
   justify-content: center;
   width: 100%;
   color: white;
}


.industry {
    max-width: 416px;
    max-height: 160px;
    width: 100%;
    
}


.headli {
    display: flex;
    align-items: center;
    font-size: .95rem;
    padding: 3.5px;
    line-height: 1.4rem;
    letter-spacing: .04rem;

}


.headli::before {
    content: "\2022";
    color: rgba(48,147,130,.64);
    font-size: 3rem;
    display: inline-block;
    width: 1.4rem;
    margin-left: -1.8rem;
}


.headmap {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
    width: 100%;
    height: 100%;
    

}


.box9 {
    
    min-width: 146px;
    min-height: 45px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eff0f1;
    margin: -40px;
}


.a9 {
    color: #313a47;
}

.a9:hover {
    color: red;
}

.list8 {

    text-decoration: none;
    color:black;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: -30px;
    
    
}
.logo111 {
  
    border-style: none;
    width: 125px;
    height: 25px;
   
}
.logo9 {
   
    display: flex;
    justify-content: center;
    margin:70px;
}

.socmedia {
    display: flex;
    justify-content: space-evenly;
   
}
.socmedia2 {
    background-color: #e0e2e5;
   
}

.footer {
    background-color: #313a47;
    margin: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 180px;
    
   
}

.pfoot {
    color: #e0e2e5;
   display: flex;
   justify-content: center;

}